@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: JelenaMlinaric;
    src: url(font/JelenaMlinaric.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
	ul {	padding:20px;
			margin-left: auto; 
			margin-right:auto;  
			width: 500px;
			} 
	li {	display:inline;
			background-color:rgb(180, 201, 230);
			padding:10px;
			border: 2px solid darkblue;
            border-style: dotted;
		}
	li:active {background-color:rgb(106, 112, 168);}
		
	li a {	color:darkblue; 
			font-family: "Montserrat", sans-serif; 
			text-transform: uppercase;
			}
	li a:link {text-decoration:none;}
	li a:hover {text-decoration:underline;}
    p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color:darkblue;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        line-height: 25px;
        width: 1300px;
        background-color:lightyellow;
        padding: 10px;
        border: 5px solid darkblue;
        border-style: dotted;
    }
h1,h2 {
    text-align: center;
    color:midnightblue;
    font-family:Arial, Helvetica, sans-serif;
    }
body {
    background-image: url(slike/pozadina.jpg) ;
    }
.container {
    display: flex;
    align-items: center;
    }
img {
    display: block;
    margin: auto;
    border: 5px solid darkblue;
    border-style: dotted;
    }
embed {
    display: block;
    margin: auto;
    border: 5px solid darkblue;
    border-style: dotted;
    }
video {
    display: block;
    margin: auto;
    border: 5px solid darkblue;
    border-style: dotted;
    }