@charset "utf-8";
/* CSS Document */
p {
    color:mediumvioletred;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    width: 1000px;
    background-color:lightpink;
    padding: 10px;
    }
h1,h2,h3,h4 {
    color:midnightblue;
    font-family:Arial, Helvetica, sans-serif;
    }
span {
    color:royalblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    background-color:lightblue;
    }
body {
    background-image: url(multimedija/25d4896501a1818489ea3a1ce9889049.jpg) ;
    }
a:link { 
    color: darkslateblue;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcyan;
    padding: 5px;
    line-height: 40px;
    border: 3px solid #75b;
    }
a:hover {
    background-color: cornflowerblue;
    }
.novi_blok {
    background-color: linen;
    }